.headerbody {
  /* width: 1440px; */
  height: 481px;
  background: #000000;
}

.player-grid {
  padding-right: 50px;
  padding-left: 70px;
}

.calculation-part {
  width: 50%;
  height: 100%;
  margin-right: 20px;
  /* border: 5px solid red; */
}

.card {
  background: #000000;
}

.selected-players-list {
  background: #000000;
  height: 371px;
}

.budget {
  background: #000000;
  height: 514px;
}

.btn.btn-primary[disabled] {
  background-color: lightgrey;
}

.btn.btn-primary {
  border: none;
  font-size: medium;
  font-weight: 400;
}
